.header {
  padding: 30px 0px;
  display: flex;
  justify-content: space-between;

  font-size: 18px;
  margin: 20px 0;
}

.header__logo {
  margin-right: 50px;
}

.header__navigation {
  flex-grow: 1;
  display: flex;
  align-items: center;
  min-width: 550px;
}

.header__navigation-list {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-grow: 1;
}

.navigation__link {
  padding: 8px 15px;

  // &:hover {
    // some styles
  // }
}

.navigation__link--active {
  border: 2px solid $teal;
  border-radius: 50px;
}

.header__login {
  align-self: center;
}

.login__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login__text {
  margin-left: 10px;
  font-size: 16px;
}

.login__link,
.header__user-icon {
  align-self: center;
  flex-grow: 2;
  display: flex;
  justify-content: flex-end;
}
