.modal {
  position: absolute;
  top: 50%;
  left: 30%;
  width: 800px;
  height: max-content;
  background-color: white;
  border: 2px solid #000;
  box-shadow: 24px;
}

.form {

  label {
    display: block;
  }
}

.vacantPlacesWrapper {
  display: flex;
  height: 150px;
}
