// Colors
//its just an exmaple
$black-base: #1f1e25;
$white-base: #fff;
$grey-light: #f6f7ff;
$grey: #707c87;
$dark-blue: #2c36f2;

// Background-colors
//its just an exmaple
$body-bg: $white-base;
$header-bg: $grey-light;
$promo-bg: $dark-blue;
$history-bg: $grey-light;
$footer-bg: $grey-light;
$button-bg: $dark-blue;

//Global text color
//its just an exmaple
$black-text: $black-base;
$white-text: $grey-light;
$grey-text: $grey;
$active-link: $dark-blue;
